.analog-clock--container {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(-135deg, $primary-color 0%, $primary-hover-color 100%);
  box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, .2);

  .clock {
    &.analog-clock {
      position: relative;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      background: #000;
      background-size: 88%;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px #fff;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background: #ff0000;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      .hours--container,
      .minutes--container,
      .seconds--container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .hours--container,
      .minutes--container {
        .hours,
        .minutes {
          position: absolute;
          top: 30px;
          left: 88px;
          width: 2px;
          height: 60px;
          background: #fff;
          transform-origin: 50% 100%;
          transform: rotate(0deg);
        }

        .minutes {
          top: 10px;
          left: 89px;
          height: 80px;
        }
      }

      .hours--container {
        animation: rotate 43200s infinite linear;
      }

      .minutes--container {
        transition: transform 0.3s cubic-bezier(.4, 2.08, .55, .44);
      }

      .seconds--container {
        transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);

        .seconds {
          position: absolute;
          top: 10px;
          left: 89px;
          width: 1px;
          height: 100px;
          background: #ff0000;
          transform-origin: 50% 80%;
          transform: rotate(0deg);
        }
      }
    }
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
}