@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7.ttf');
}

.digital-clock--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;

  .clock {
    &.digital-clock {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-family: 'digital-7', sans-serif;
      color: $primary-color;
      background: $background;
      border-radius: 6px;
      box-shadow: inset 0px 0px 6px 2px #cfcfcf;

      .numbers,
      .colon,
      .am-pm {
        display: inline-block;

        p {
          font-size: 40px;
          z-index: 100;
        }
      }

      .am-pm {
        font-family: sans-serif;
        text-transform: uppercase;
        width: 20px;

        p {
          font-size: 12px;
          font-weight: bold;
          width: 100%;

          &.am,
          &.pm {
            color: $text-color;

            &.light-on {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}