.checkbox {
  position: absolute;
  bottom: -8px;
  left: 0;

  p {
    label {
      color: $text-color;

      [type="checkbox"] {
        & + span {
          font-size: 12px;

          &:not(.lever) {
            &:before {
              top: 2px;
              left: 12px;
              width: 15px;
              height: 15px;
              border: 2px solid $primary-color;
            }
          }
        }

        &:checked {
          & + span {
            &:not(.lever) {
              &:before {
                top: 0px;
                left: 12px;
                width: 8px;
                height: 16px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid $primary-color;
                border-bottom: 2px solid $primary-color;
              }
            }
          }
        }
      }
    }
  }
}