.input-field {
  input,
  textarea {
    color: $text-color;

    &:not([type]),
    &[type=text]:not(.browser-default),
    &[type=password]:not(.browser-default),
    &[type=email]:not(.browser-default),
    &[type=url]:not(.browser-default),
    &[type=time]:not(.browser-default),
    &[type=date]:not(.browser-default),
    &[type=datetime]:not(.browser-default),
    &[type=datetime-local]:not(.browser-default),
    &[type=tel]:not(.browser-default),
    &[type=number]:not(.browser-default),
    &[type=search]:not(.browser-default),
    &.materialize-textarea {
      border-bottom: 1px solid $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }

    &:not([type]):focus:not([readonly]),
    &[type=text]:not(.browser-default):focus:not([readonly]),
    &[type=password]:not(.browser-default):focus:not([readonly]),
    &[type=email]:not(.browser-default):focus:not([readonly]),
    &[type=url]:not(.browser-default):focus:not([readonly]),
    &[type=time]:not(.browser-default):focus:not([readonly]),
    &[type=date]:not(.browser-default):focus:not([readonly]),
    &[type=datetime]:not(.browser-default):focus:not([readonly]),
    &[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    &[type=tel]:not(.browser-default):focus:not([readonly]),
    &[type=number]:not(.browser-default):focus:not([readonly]),
    &[type=search]:not(.browser-default):focus:not([readonly]),
    &.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid $primary-hover-color;
      box-shadow: 0 1px 0 0 $primary-hover-color;
    }
  }

  ul {
    &.autocomplete-content {
      li {
        span {
          color: $primary-color;

          .highlight {
            color: $text-color;
          }
        }
      }
    }
  }

  label {
    color: #454545;
    opacity: .6;
  }
}