.slot {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 250px;
  height: 400px;
  margin: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 0px 1px #efefef;

  i {
    position: absolute;
    right: 0;
    margin: 8px;
    opacity: .5;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  h6 {
    margin: 16px 0;
  }

  .info--container {
    .clock-date,
    .clock-timezone {
      display: block;
    }

    .clock-date {
      padding: 16px 0;
      font-size: 22px;
    }
  }
}