.d-flex {
  display: flex; }

.analog-clock--container {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(-135deg, #2a9cdd 0%, #6375ff 100%);
  box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2); }
  .analog-clock--container .clock.analog-clock {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background: #000;
    background-size: 88%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff; }
    .analog-clock--container .clock.analog-clock::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background: #ff0000;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 10; }
    .analog-clock--container .clock.analog-clock .hours--container,
    .analog-clock--container .clock.analog-clock .minutes--container,
    .analog-clock--container .clock.analog-clock .seconds--container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .analog-clock--container .clock.analog-clock .hours--container .hours,
    .analog-clock--container .clock.analog-clock .hours--container .minutes,
    .analog-clock--container .clock.analog-clock .minutes--container .hours,
    .analog-clock--container .clock.analog-clock .minutes--container .minutes {
      position: absolute;
      top: 30px;
      left: 88px;
      width: 2px;
      height: 60px;
      background: #fff;
      transform-origin: 50% 100%;
      transform: rotate(0deg); }
    .analog-clock--container .clock.analog-clock .hours--container .minutes,
    .analog-clock--container .clock.analog-clock .minutes--container .minutes {
      top: 10px;
      left: 89px;
      height: 80px; }
    .analog-clock--container .clock.analog-clock .hours--container {
      animation: rotate 43200s infinite linear; }
    .analog-clock--container .clock.analog-clock .minutes--container {
      transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }
    .analog-clock--container .clock.analog-clock .seconds--container {
      transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }
      .analog-clock--container .clock.analog-clock .seconds--container .seconds {
        position: absolute;
        top: 10px;
        left: 89px;
        width: 1px;
        height: 100px;
        background: #ff0000;
        transform-origin: 50% 80%;
        transform: rotate(0deg); }
@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }
@font-face {
  font-family: 'digital-7';
  src: url("../fonts/digital-7.ttf"); }
.digital-clock--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto; }
  .digital-clock--container .clock.digital-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'digital-7', sans-serif;
    color: #2a9cdd;
    background: #f4f7fc;
    border-radius: 6px;
    box-shadow: inset 0px 0px 6px 2px #cfcfcf; }
    .digital-clock--container .clock.digital-clock .numbers,
    .digital-clock--container .clock.digital-clock .colon,
    .digital-clock--container .clock.digital-clock .am-pm {
      display: inline-block; }
      .digital-clock--container .clock.digital-clock .numbers p,
      .digital-clock--container .clock.digital-clock .colon p,
      .digital-clock--container .clock.digital-clock .am-pm p {
        font-size: 40px;
        z-index: 100; }
    .digital-clock--container .clock.digital-clock .am-pm {
      font-family: sans-serif;
      text-transform: uppercase;
      width: 20px; }
      .digital-clock--container .clock.digital-clock .am-pm p {
        font-size: 12px;
        font-weight: bold;
        width: 100%; }
        .digital-clock--container .clock.digital-clock .am-pm p.am, .digital-clock--container .clock.digital-clock .am-pm p.pm {
          color: #454545; }
          .digital-clock--container .clock.digital-clock .am-pm p.am.light-on, .digital-clock--container .clock.digital-clock .am-pm p.pm.light-on {
            color: #2a9cdd; }

.btn {
  background: linear-gradient(-135deg, #2a9cdd 0%, #6375ff 100%); }
  .btn:hover {
    background: linear-gradient(-135deg, #39a3df 0%, #7484ff 100%); }

.checkbox {
  position: absolute;
  bottom: -8px;
  left: 0; }
  .checkbox p label {
    color: #454545; }
    .checkbox p label [type="checkbox"] + span {
      font-size: 12px; }
      .checkbox p label [type="checkbox"] + span:not(.lever):before {
        top: 2px;
        left: 12px;
        width: 15px;
        height: 15px;
        border: 2px solid #2a9cdd; }
    .checkbox p label [type="checkbox"]:checked + span:not(.lever):before {
      top: 0px;
      left: 12px;
      width: 8px;
      height: 16px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #2a9cdd;
      border-bottom: 2px solid #2a9cdd; }

.material-icons.prefix {
  color: #2a9cdd; }
  .material-icons.prefix.active {
    color: #6375ff; }

.input-field input,
.input-field textarea {
  color: #454545; }
  .input-field input:not([type]), .input-field input[type=text]:not(.browser-default), .input-field input[type=password]:not(.browser-default), .input-field input[type=email]:not(.browser-default), .input-field input[type=url]:not(.browser-default), .input-field input[type=time]:not(.browser-default), .input-field input[type=date]:not(.browser-default), .input-field input[type=datetime]:not(.browser-default), .input-field input[type=datetime-local]:not(.browser-default), .input-field input[type=tel]:not(.browser-default), .input-field input[type=number]:not(.browser-default), .input-field input[type=search]:not(.browser-default), .input-field input.materialize-textarea,
  .input-field textarea:not([type]),
  .input-field textarea[type=text]:not(.browser-default),
  .input-field textarea[type=password]:not(.browser-default),
  .input-field textarea[type=email]:not(.browser-default),
  .input-field textarea[type=url]:not(.browser-default),
  .input-field textarea[type=time]:not(.browser-default),
  .input-field textarea[type=date]:not(.browser-default),
  .input-field textarea[type=datetime]:not(.browser-default),
  .input-field textarea[type=datetime-local]:not(.browser-default),
  .input-field textarea[type=tel]:not(.browser-default),
  .input-field textarea[type=number]:not(.browser-default),
  .input-field textarea[type=search]:not(.browser-default),
  .input-field textarea.materialize-textarea {
    border-bottom: 1px solid #2a9cdd;
    box-shadow: 0 1px 0 0 #2a9cdd; }
  .input-field input:not([type]):focus:not([readonly]), .input-field input[type=text]:not(.browser-default):focus:not([readonly]), .input-field input[type=password]:not(.browser-default):focus:not([readonly]), .input-field input[type=email]:not(.browser-default):focus:not([readonly]), .input-field input[type=url]:not(.browser-default):focus:not([readonly]), .input-field input[type=time]:not(.browser-default):focus:not([readonly]), .input-field input[type=date]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .input-field input[type=tel]:not(.browser-default):focus:not([readonly]), .input-field input[type=number]:not(.browser-default):focus:not([readonly]), .input-field input[type=search]:not(.browser-default):focus:not([readonly]), .input-field input.materialize-textarea:focus:not([readonly]),
  .input-field textarea:not([type]):focus:not([readonly]),
  .input-field textarea[type=text]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=password]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=email]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=url]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=time]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=date]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=datetime]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=tel]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=number]:not(.browser-default):focus:not([readonly]),
  .input-field textarea[type=search]:not(.browser-default):focus:not([readonly]),
  .input-field textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6375ff;
    box-shadow: 0 1px 0 0 #6375ff; }
.input-field ul.autocomplete-content li span {
  color: #2a9cdd; }
  .input-field ul.autocomplete-content li span .highlight {
    color: #454545; }
.input-field label {
  color: #454545;
  opacity: .6; }

header nav {
  background: linear-gradient(-135deg, #2a9cdd 0%, #6375ff 100%); }

.slot {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 250px;
  height: 400px;
  margin: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 0px 1px #efefef; }
  .slot i {
    position: absolute;
    right: 0;
    margin: 8px;
    opacity: .5;
    font-size: 16px;
    cursor: pointer; }
    .slot i:hover {
      opacity: 1; }
  .slot h6 {
    margin: 16px 0; }
  .slot .info--container .clock-date,
  .slot .info--container .clock-timezone {
    display: block; }
  .slot .info--container .clock-date {
    padding: 16px 0;
    font-size: 22px; }

body {
  color: #454545;
  background: #f4f7fc; }
  body #app {
    display: flex;
    padding: 16px 0; }
    body #app blockquote {
      border-color: #2a9cdd; }
    body #app .clocks--container {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-evenly; }
      body #app .clocks--container .clocks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px; }
      body #app .clocks--container .switch {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        margin: 0 auto; }

/*# sourceMappingURL=theme.css.map */
