// Variables
@import "variables";
// Fonts
@import "fonts";
// Custom
@import "custom";
// Typography
@import "typography";
// Placeholders
// - paste your placeholders here -
// Components
@import "components/clock/analog-clock";
@import "components/clock/digital-clock";
@import "components/button";
@import "components/checkbox";
@import "components/icon";
@import "components/input";
@import "components/nav";
@import "components/slot";
// Pages
// - paste your pages here -
// App
body {
  color: $text-color;
  background: $background;

  #app {
    display: flex;
    padding: 16px 0;

    blockquote {
      border-color: $primary-color;
    }

    .clocks--container {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .clocks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
      }

      .switch {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        margin: 0 auto;
      }
    }
  }
}